# Web
web/node_modules/
web/*.pem

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
*.apk
*.aab
android/app/keystore/
